.wrapper {
  display: grid;
  align-items: center;
  gap: 40px;
  width: 100%;
  color: #fff;
}

.heading {
  font-size: 1.8rem;
  text-align: center;
  font-style: italic;
}

.content {
  display: grid;
  gap: 32px;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}
